body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.registmain{
  height: 100vh;
}
.registHeadline{
  color: #5b5b60;
}
.registText{
  color: #5b5b60;
  font-size:1.2rem;
  font-weight: lighter;
}
.enter{
  color: #fff;
  width: 8rem;
  height: 3rem;
  background-color: #0089e1;
  border-radius: 5px;
  font-weight: lighter;
  text-decoration: none;
}
.enter:hover, .enter:visited{
  text-decoration: none;
  color:#fff;
}
.enter:focus,.registInp:focus {
  outline:0;
}
.registInp{
  font-style: italic;
  border: 1px solid #ceced4;
  border-radius: 5px;
  width: 16rem;
  font-weight: lighter;
}
.registCoop{
  font-weight: lighter;
  font-size: 13px;
  color: #8e8e93;
}
.coop{
  flex-grow: 1;
}
